## Equity analysis, comparing all models for one store placement

In [9]:
# Import libraries
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import haversine as hs
import gurobipy as gp
from gurobipy import GRB
from shapely import wkt

# Helper modules
import helper_population_allocation as pa
import helper_distance_calculation as dc

# Avoid printing set copy warnings
import warnings
warnings.filterwarnings("ignore")

In [10]:
#Importing files
usda = pd.read_csv('../processed_data/Food_Deserts_Pittburgh.csv')
equity = pd.read_csv('../processed_data/Demographics_Combined_Updated.csv')

In [11]:
usda.columns

Index(['OBJECTID', 'Allegheny_Tracts_FID_1', 'Allegheny_Tracts_STATEFP',
       'Allegheny_Tracts_COUNTYFP', 'Allegheny_Tracts_TRACTCE',
       'Allegheny_Tracts_AFFGEOID', 'Allegheny_Tracts_GEOID',
       'Allegheny_Tracts_NAME', 'Allegheny_Tracts_LSAD',
       'Allegheny_Tracts_ALAND',
       ...
       'USDA_Data_TractBlack', 'USDA_Data_TractAsian', 'USDA_Data_TractNHOPI',
       'USDA_Data_TractAIAN', 'USDA_Data_TractOMultir',
       'USDA_Data_TractHispanic', 'USDA_Data_TractHUNV', 'USDA_Data_TractSNAP',
       'Shape_Length', 'Shape_Area'],
      dtype='object', length=166)

In [12]:
usda["Allegheny_Tracts_GEOID"].dtypes

dtype('int64')

In [13]:
equity.dtypes

CensusTract      int64
Senior           int64
SNAP             int64
NoVehicle        int64
Disability     float64
Race           float64
SingleHH       float64
dtype: object

In [14]:
#rename column 
usda.rename(columns = {'Allegheny_Tracts_GEOID':'GEOID'}, inplace = True)
equity.rename(columns = {'CensusTract':'GEOID'}, inplace = True)
usda

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,USDA_Data_TractBlack,USDA_Data_TractAsian,USDA_Data_TractNHOPI,USDA_Data_TractAIAN,USDA_Data_TractOMultir,USDA_Data_TractHispanic,USDA_Data_TractHUNV,USDA_Data_TractSNAP,Shape_Length,Shape_Area
0,1,1,42,3,50900,1400000US42003050900,42003050900,509.0,CT,452643,...,1106.0,3.0,0.0,8.0,37.0,19.0,650.0,460.0,0.045048,0.000046
1,2,2,42,3,70300,1400000US42003070300,42003070300,703.0,CT,428546,...,127.0,257.0,0.0,1.0,49.0,64.0,146.0,19.0,0.028484,0.000046
2,3,3,42,3,120700,1400000US42003120700,42003120700,1207.0,CT,514927,...,782.0,1.0,0.0,3.0,13.0,7.0,127.0,155.0,0.031372,0.000055
3,4,4,42,3,140400,1400000US42003140400,42003140400,1404.0,CT,834995,...,55.0,95.0,0.0,8.0,54.0,62.0,50.0,11.0,0.038374,0.000089
4,5,5,42,3,180700,1400000US42003180700,42003180700,1807.0,CT,393380,...,391.0,7.0,0.0,5.0,71.0,43.0,172.0,222.0,0.026142,0.000042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,174,396,42,3,111300,1400000US42003111300,42003111300,1113.0,CT,536950,...,1795.0,51.0,11.0,6.0,117.0,65.0,405.0,300.0,0.039902,0.000057
174,175,397,42,3,130300,1400000US42003130300,42003130300,1303.0,CT,546310,...,1083.0,2.0,0.0,5.0,38.0,12.0,369.0,313.0,0.037516,0.000057
175,176,398,42,3,141000,1400000US42003141000,42003141000,1410.0,CT,507878,...,17.0,29.0,1.0,1.0,23.0,23.0,22.0,4.0,0.046762,0.000053
176,177,399,42,3,202300,1400000US42003202300,42003202300,2023.0,CT,2532255,...,169.0,211.0,0.0,2.0,111.0,56.0,108.0,97.0,0.076030,0.000269
177,178,400,42,3,320600,1400000US42003320600,42003320600,3206.0,CT,1479651,...,96.0,28.0,0.0,2.0,68.0,23.0,71.0,90.0,0.053969,0.000159

In [15]:
#merge files
merged = pd.merge(usda, equity, on="GEOID")
merged

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,USDA_Data_TractHUNV,USDA_Data_TractSNAP,Shape_Length,Shape_Area,Senior,SNAP,NoVehicle,Disability,Race,SingleHH
0,1,1,42,3,50900,1400000US42003050900,42003050900,509.0,CT,452643,...,650.0,460.0,0.045048,0.000046,179,460,650,264.0,92.7,184.0
1,2,2,42,3,70300,1400000US42003070300,42003070300,703.0,CT,428546,...,146.0,19.0,0.028484,0.000046,325,19,146,153.0,3.4,75.0
2,3,3,42,3,120700,1400000US42003120700,42003120700,1207.0,CT,514927,...,127.0,155.0,0.031372,0.000055,201,155,127,NaN,NaN,NaN
3,4,4,42,3,140400,1400000US42003140400,42003140400,1404.0,CT,834995,...,50.0,11.0,0.038374,0.000089,360,11,50,111.0,1.7,62.0
4,5,5,42,3,180700,1400000US42003180700,42003180700,1807.0,CT,393380,...,172.0,222.0,0.026142,0.000042,200,222,172,280.0,28.0,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,174,396,42,3,111300,1400000US42003111300,42003111300,1113.0,CT,536950,...,405.0,300.0,0.039902,0.000057,346,300,405,312.0,31.0,53.0
172,175,397,42,3,130300,1400000US42003130300,42003130300,1303.0,CT,546310,...,369.0,313.0,0.037516,0.000057,285,313,369,NaN,NaN,NaN
173,176,398,42,3,141000,1400000US42003141000,42003141000,1410.0,CT,507878,...,22.0,4.0,0.046762,0.000053,136,4,22,NaN,NaN,NaN
174,177,399,42,3,202300,1400000US42003202300,42003202300,2023.0,CT,2532255,...,108.0,97.0,0.076030,0.000269,806,97,108,308.0,14.3,27.0
175,178,400,42,3,320600,1400000US42003320600,42003320600,3206.0,CT,1479651,...,71.0,90.0,0.053969,0.000159,336,90,71,349.0,4.8,104.0

In [16]:
merged["USDA_Data_PovertyRate"]

0      58.4
1      19.2
2      43.4
3       5.8
4      19.0
       ...
171    17.8
172    35.4
173     1.2
174     9.5
175    10.1
Name: USDA_Data_PovertyRate, Length: 176, dtype: float64

In [17]:
#Add additional columns 
merged["PctSeniorPop"] = round((merged["Senior"] / merged["USDA_Data_Pop2010"])*100,2)  
merged["PctSNAPHH"] = round((merged["SNAP"] / merged["USDA_Data_OHU2010"])*100, 2)
merged["PctSingleHH"] = round((merged["SingleHH"] / merged["USDA_Data_OHU2010"])*100, 2)
merged["PctNoVehicleHH"] = round((merged["NoVehicle"] / merged["USDA_Data_OHU2010"])*100, 2)
merged["PctDisabilityPop"] = round((merged["Disability"] / merged["USDA_Data_Pop2010"])*100, 2)
merged["Race"] = merged["Race"]/100
merged["Black_Pop"] = round(merged["Race"]*merged["USDA_Data_Pop2010"],0)
merged["USDA_Data_PovertyRate"] = merged["USDA_Data_PovertyRate"] / 100

In [18]:
merged

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,NoVehicle,Disability,Race,SingleHH,PctSeniorPop,PctSNAPHH,PctSingleHH,PctNoVehicleHH,PctDisabilityPop,Black_Pop
0,1,1,42,3,50900,1400000US42003050900,42003050900,509.0,CT,452643,...,650,264.0,0.927,184.0,14.89,70.66,28.26,99.85,21.96,1114.0
1,2,2,42,3,70300,1400000US42003070300,42003070300,703.0,CT,428546,...,146,153.0,0.034,75.0,14.79,1.61,6.37,12.39,6.96,75.0
2,3,3,42,3,120700,1400000US42003120700,42003120700,1207.0,CT,514927,...,127,NaN,NaN,NaN,24.57,37.44,NaN,30.68,NaN,NaN
3,4,4,42,3,140400,1400000US42003140400,42003140400,1404.0,CT,834995,...,50,111.0,0.017,62.0,15.61,1.16,6.54,5.27,4.81,39.0
4,5,5,42,3,180700,1400000US42003180700,42003180700,1807.0,CT,393380,...,172,280.0,0.280,115.0,9.95,24.67,12.78,19.11,13.92,563.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,174,396,42,3,111300,1400000US42003111300,42003111300,1113.0,CT,536950,...,405,312.0,0.310,53.0,13.11,24.25,4.28,32.74,11.82,818.0
172,175,397,42,3,130300,1400000US42003130300,42003130300,1303.0,CT,546310,...,369,NaN,NaN,NaN,24.72,52.87,NaN,62.33,NaN,NaN
173,176,398,42,3,141000,1400000US42003141000,42003141000,1410.0,CT,507878,...,22,NaN,NaN,NaN,14.66,0.88,NaN,4.82,NaN,NaN
174,177,399,42,3,202300,1400000US42003202300,42003202300,2023.0,CT,2532255,...,108,308.0,0.143,27.0,19.45,4.80,1.34,5.34,7.43,593.0
175,178,400,42,3,320600,1400000US42003320600,42003320600,3206.0,CT,1479651,...,71,349.0,0.048,104.0,14.86,9.10,10.52,7.18,15.44,109.0

## Model 1

In [19]:
# Get the main buildings dataset 
buildings_df = gpd.read_file('../processed_data/relevant_buildings.shp')

# Create ID variable
buildings_df.reset_index(drop=True, inplace=True)
buildings_df['building_id'] = buildings_df.index + 1
buildings_df['building_id'] = buildings_df.apply(lambda row: str(row['building_id']) + '-' + str(row['CLASS']) , axis=1)

In [20]:
# Matching GEOIDs

acs_data = pd.read_csv('ACSData.csv')
acs_data = acs_data[['geometry', 'geo_id','B01003_001E', 'B25010_001E']]
acs_data['geometry'] = acs_data['geometry'].apply(wkt.loads)
acs_data = gpd.GeoDataFrame(acs_data, geometry = 'geometry').set_crs(buildings_df.crs)

buildings_df = buildings_df.sjoin(acs_data, how="left", predicate = 'intersects')
buildings_df["geo_id"] = buildings_df["geo_id"]
buildings_df = buildings_df.drop_duplicates("building_id")

In [21]:
buildings_df

,CLASS,class_reco,hood,geoid10,tractce10,geometry,building_id,index_right,geo_id,B01003_001E,B25010_001E
0,C,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-80.01230 40.38309, -80.01255 40.383...",1-C,248,1400000US42003479000,2103.0,2.43
1,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-80.01382 40.38638, -80.01380 40.386...",2-R,248,1400000US42003479000,2103.0,2.43
2,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-80.01309 40.38253, -80.01307 40.382...",3-R,248,1400000US42003479000,2103.0,2.43
3,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-80.01399 40.38554, -80.01399 40.385...",4-R,248,1400000US42003479000,2103.0,2.43
4,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-80.00736 40.38204, -80.00729 40.381...",5-R,248,1400000US42003479000,2103.0,2.43
...,...,...,...,...,...,...,...,...,...,...,...
116273,C,commercial,Point Breeze,420039811001,981100,"POLYGON ((-79.90934 40.44247, -79.90928 40.442...",116274-C,390,1400000US42003981100,0.0,NaN
116274,R,2-Unit Residential,Squirrel Hill South,420039803001,980300,"POLYGON ((-79.91447 40.43197, -79.91443 40.431...",116275-R,51,1400000US42003140800,4374.0,2.26
116275,C,commercial,Squirrel Hill South,420039803001,980300,"POLYGON ((-79.90925 40.42686, -79.90910 40.426...",116276-C,51,1400000US42003140800,4374.0,2.26
116276,R,1-Unit Residential,Squirrel Hill South,420039803001,980300,"POLYGON ((-79.91190 40.43303, -79.91190 40.433...",116277-R,51,1400000US42003140800,4374.0,2.26
116277,R,2-Unit Residential,Squirrel Hill South,420039803001,980300,"POLYGON ((-79.91393 40.43209, -79.91394 40.432...",116278-R,51,1400000US42003140800,4374.0,2.26

In [22]:
# Create arrays to track ordering (residential)
res_buildings = buildings_df[buildings_df['class_reco'].str.contains('Residential')]
res_buildings = res_buildings.sort_values('building_id')
res_buildings = dc.get_geocoordinate(res_buildings, 'geometry')

res_buildings_array = np.array(res_buildings['building_id'])
res_buildings_coordinates_array = np.array(res_buildings['coordinates'])

In [23]:
res_buildings

,CLASS,class_reco,hood,geoid10,tractce10,geometry,building_id,index_right,geo_id,B01003_001E,B25010_001E,centroids,coordinates
0,C,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-1280260.228 6136598.189, -1280260.0...",1-C,248,1400000US42003479000,2103.0,2.43,POINT (-80.01241 40.38317),"(-80.01241198145034, 40.383174075305014)"
9,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-1280199.622 6136721.733, -1280189.9...",10-R,71,1400000US42003191800,5032.0,2.16,POINT (-80.01329 40.38389),"(-80.01328831494197, 40.383892741379555)"
99,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-1279976.335 6136247.148, -1279971.8...",100-R,71,1400000US42003191800,5032.0,2.16,POINT (-80.00693 40.38506),"(-80.00693119400655, 40.38505578689698)"
999,R,1-Unit Residential,Brookline,420031918003,191800,"POLYGON ((-1279599.432 6137959.684, -1279602.7...",1000-R,71,1400000US42003191800,5032.0,2.16,POINT (-80.02354 40.39119),"(-80.0235433223972, 40.39119376093412)"
9999,R,1-Unit Residential,Overbrook,420033207001,320700,"POLYGON ((-1280279.261 6135210.671, -1280267.3...",10000-R,97,1400000US42003320700,1710.0,2.31,POINT (-79.99736 40.38076),"(-79.99735746686683, 40.38075854377677)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,R,1-Unit Residential,Squirrel Hill South,420031408003,140800,"POLYGON ((-1273561.660 6131008.563, -1273569.9...",99995-R,51,1400000US42003140800,4374.0,2.26,POINT (-79.91616 40.43421),"(-79.9161613197582, 40.43421429599738)"
99995,R,2-Unit Residential,Squirrel Hill South,420031408003,140800,"POLYGON ((-1273670.799 6131133.428, -1273668.5...",99996-R,51,1400000US42003140800,4374.0,2.26,POINT (-79.91799 40.43346),"(-79.91798881834804, 40.43345644852324)"
99996,R,1-Unit Residential,Squirrel Hill South,420031408003,140800,"POLYGON ((-1273343.856 6130758.732, -1273342.4...",99997-R,51,1400000US42003140800,4374.0,2.26,POINT (-79.91214 40.43576),"(-79.91214182299784, 40.43576063450121)"
99997,R,2-Unit Residential,Squirrel Hill South,420031408003,140800,"POLYGON ((-1273929.466 6130854.863, -1273928.4...",99998-R,51,1400000US42003140800,4374.0,2.26,POINT (-79.91636 40.43066),"(-79.91635744600651, 40.43066344323655)"
99998,R,2-Unit Residential,Squirrel Hill South,420031408003,140800,"POLYGON ((-1273937.283 6130786.507, -1273946.0...",99999-R,51,1400000US42003140800,4374.0,2.26,POINT (-79.91573 40.43046),"(-79.9157345370538, 40.4304593692853)"

In [24]:
# Create arrays to track ordering (Commercial)
comm_buildings = buildings_df[buildings_df['class_reco'].str.contains('commercial')]
comm_buildings = comm_buildings.sort_values('building_id')
comm_buildings = dc.get_geocoordinate(comm_buildings, 'geometry')

comm_buildings_array = np.array(comm_buildings['building_id'])
comm_buildings_coordinates_array = np.array(comm_buildings['coordinates'])

In [25]:
# Create arrays to track ordering (grocery stores)
grocery_stores = buildings_df[buildings_df['class_reco'].str.contains('Grocery')]
grocery_stores = grocery_stores.sort_values('building_id')
grocery_stores = dc.get_geocoordinate(grocery_stores, 'geometry')

grocery_stores_array = np.array(grocery_stores['building_id'])
grocery_stores_coordinates_array = np.array(grocery_stores['coordinates'])

In [26]:
#New Stores
chosen_stores = pd.read_csv('new_store_ids.csv')
chosen_stores

chosen_store = chosen_stores['building_id'].iloc[0]
chosen_store

'31851-C'

In [27]:
# Importing Distance Matrix
res_comm_distance_matrix = np.load('../processed_data/res_comm_distance_matrix.npy')

# Creating a modified res comm access matrix 
res_comm_access_matrix_half_mile = res_comm_distance_matrix.copy()
res_comm_access_matrix_half_mile[res_comm_access_matrix_half_mile <= 0.5] = 1
res_comm_access_matrix_half_mile[res_comm_access_matrix_half_mile != 1] = 0

In [28]:
res_comm_access_matrix_half_mile

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 0., 1.]])

In [29]:
res_comm_access_matrix_half_mile.shape

(109324, 6895)

In [30]:
%%time

# Create parameter matrices (Res groc access array - Ai)
# ith value indicates whether the ith residential building has existing access
res_groc_distance_matrix, res_groc_access_matrix = dc.calculate_access(res_buildings_coordinates_array, grocery_stores_coordinates_array)

res_groc_access_matrix_half_mile = res_groc_distance_matrix.copy()
res_groc_access_matrix_half_mile[res_groc_access_matrix_half_mile <= 0.5] = 1
res_groc_access_matrix_half_mile[res_groc_access_matrix_half_mile != 1] = 0

res_access_array_half_mile = np.amax(res_groc_access_matrix_half_mile, 1)

Wall time: 30.7 s

In [31]:
res_access_array_half_mile.shape

(109324,)

In [32]:
existing_access_indices = res_access_array_half_mile.nonzero()[0] # These are indices of residential buildings that currently have access
res_comm_access_matrix_subset = np.delete(res_comm_access_matrix_half_mile, existing_access_indices, axis=0 )

In [33]:
chosen_store_index = np.where(comm_buildings_array == chosen_store)[0][0]
chosen_store_index

2206

In [34]:
#New residential buildings that will have access based on commercial building
new_building_with_access = res_comm_access_matrix_half_mile[:,2206]
new_building_with_access = new_building_with_access.nonzero()[0]
new_building_with_access = [i for i in new_building_with_access if i not in existing_access_indices]

In [35]:
# Get IDs of all residential buildings with access
res_buildings_array[new_building_with_access]

array(['27717-R', '27718-R', '27719-R', ..., '84028-R', '84039-R',
       '84043-R'], dtype=object)

In [36]:
new_access_buildings = buildings_df[buildings_df.building_id.isin(res_buildings_array[new_building_with_access])]
new_access_buildings

,CLASS,class_reco,hood,geoid10,tractce10,geometry,building_id,index_right,geo_id,B01003_001E,B25010_001E
27716,R,1-Unit Residential,Brighton Heights,420032708003,270800,"POLYGON ((-80.03906 40.49075, -80.03892 40.490...",27717-R,86,1400000US42003270800,2408.0,1.79
27717,R,1-Unit Residential,Brighton Heights,420032708003,270800,"POLYGON ((-80.04114 40.49117, -80.04108 40.491...",27718-R,86,1400000US42003270800,2408.0,1.79
27718,R,1-Unit Residential,Brighton Heights,420032708003,270800,"POLYGON ((-80.04160 40.49078, -80.04155 40.490...",27719-R,86,1400000US42003270800,2408.0,1.79
27720,R,2-Unit Residential,Brighton Heights,420032708003,270800,"POLYGON ((-80.03473 40.48560, -80.03469 40.485...",27721-R,86,1400000US42003270800,2408.0,1.79
27729,R,1-Unit Residential,Brighton Heights,420032708003,270800,"POLYGON ((-80.04090 40.48914, -80.04080 40.489...",27730-R,86,1400000US42003270800,2408.0,1.79
...,...,...,...,...,...,...,...,...,...,...,...
84024,R,1-Unit Residential,Elliott,420035626002,562600,"POLYGON ((-80.04360 40.44778, -80.04353 40.447...",84025-R,359,1400000US42003562600,2624.0,1.98
84025,R,1-Unit Residential,Elliott,420035626002,562600,"POLYGON ((-80.04359 40.44791, -80.04351 40.447...",84026-R,359,1400000US42003562600,2624.0,1.98
84027,R,2-Unit Residential,Elliott,420035626002,562600,"POLYGON ((-80.04264 40.44376, -80.04265 40.443...",84028-R,359,1400000US42003562600,2624.0,1.98
84038,R,1-Unit Residential,Elliott,420035626002,562600,"POLYGON ((-80.04265 40.44777, -80.04262 40.447...",84039-R,359,1400000US42003562600,2624.0,1.98
84042,R,1-Unit Residential,Elliott,420035626002,562600,"POLYGON ((-80.04340 40.44782, -80.04338 40.447...",84043-R,359,1400000US42003562600,2624.0,1.98

In [37]:
#Census Tracts with New Access to Gracery Stores
census_tracts_with_new_access = set(new_access_buildings['geo_id'])
census_tracts_with_new_access

{'1400000US42003270100',
 '1400000US42003270300',
 '1400000US42003270800',
 '1400000US42003271600',
 '1400000US42003281400',
 '1400000US42003562500',
 '1400000US42003562600'}

In [38]:
len(census_tracts_with_new_access)

7

In [39]:
original_buildings_without_access = np.where(res_access_array_half_mile==0)[0] #Buildings that dont have access
remaining_buildings_without_access = [i for i in original_buildings_without_access if i not in new_building_with_access]
no_access_buildings = buildings_df[buildings_df.building_id.isin(res_buildings_array[remaining_buildings_without_access])]

census_tracts_without_access = set(no_access_buildings['geo_id'])
census_tracts_without_access

{'1400000US42003040200',
 '1400000US42003040500',
 '1400000US42003040900',
 '1400000US42003050600',
 '1400000US42003051000',
 '1400000US42003060300',
 '1400000US42003060500',
 '1400000US42003070900',
 '1400000US42003080400',
 '1400000US42003080600',
 '1400000US42003080900',
 '1400000US42003090100',
 '1400000US42003090200',
 '1400000US42003100500',
 '1400000US42003101800',
 '1400000US42003101900',
 '1400000US42003130600',
 '1400000US42003130700',
 '1400000US42003130800',
 '1400000US42003140100',
 '1400000US42003140800',
 '1400000US42003141100',
 '1400000US42003141400',
 '1400000US42003151600',
 '1400000US42003151700',
 '1400000US42003161000',
 '1400000US42003191600',
 '1400000US42003191700',
 '1400000US42003191800',
 '1400000US42003202200',
 '1400000US42003260200',
 '1400000US42003261300',
 '1400000US42003270100',
 '1400000US42003270800',
 '1400000US42003281400',
 '1400000US42003281500',
 '1400000US42003290100',
 '1400000US42003300100',
 '1400000US42003310200',
 '1400000US42003320400',
 '1400000US42003320600',
 '1400000US42003320700',
 '1400000US42003429100',
 '1400000US42003464300',
 '1400000US42003469000',
 '1400000US42003470502',
 '1400000US42003476200',
 '1400000US42003477200',
 '1400000US42003479000',
 '1400000US42003480300',
 '1400000US42003480400',
 '1400000US42003482500',
 '1400000US42003484500',
 '1400000US42003488300',
 '1400000US42003488500',
 '1400000US42003523100',
 '1400000US42003562300',
 '1400000US42003562400',
 '1400000US42003562500',
 '1400000US42003562600',
 '1400000US42003562800',
 '1400000US42003562901',
 '1400000US42003563000',
 '1400000US42003565300',
 '1400000US42003980500'}

## Calculations Model 1

In [40]:
tracts_new_access = census_tracts_with_new_access
tracts_no_access = census_tracts_without_access

In [41]:
#Equity Calculations 
new_access = merged[merged.Allegheny_Tracts_AFFGEOID.isin(tracts_new_access)]
no_access = merged[merged.Allegheny_Tracts_AFFGEOID.isin(tracts_no_access)]
new_access

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,NoVehicle,Disability,Race,SingleHH,PctSeniorPop,PctSNAPHH,PctSingleHH,PctNoVehicleHH,PctDisabilityPop,Black_Pop
6,7,7,42,3,270100,1400000US42003270100,42003270100,2701.0,CT,1039795,...,58,400.0,0.202,240.0,12.84,10.15,21.00,5.07,15.10,535.0
7,8,8,42,3,281400,1400000US42003281400,42003281400,2814.0,CT,1328964,...,326,365.0,0.280,290.0,13.78,44.66,29.23,32.86,15.52,659.0
55,58,112,42,3,270300,1400000US42003270300,42003270300,2703.0,CT,593102,...,138,529.0,0.377,126.0,17.26,25.20,14.24,15.59,27.17,734.0
56,59,113,42,3,270800,1400000US42003270800,42003270800,2708.0,CT,1270794,...,146,224.0,0.158,23.0,19.65,11.94,1.87,11.86,8.45,419.0
88,91,203,42,3,562500,1400000US42003562500,42003562500,5625.0,CT,2029314,...,339,432.0,0.582,352.0,10.39,33.19,29.88,28.78,14.25,1765.0
154,157,350,42,3,562600,1400000US42003562600,42003562600,5626.0,CT,2092793,...,205,526.0,0.279,210.0,12.52,31.54,18.25,17.81,19.96,735.0

In [42]:
no_access

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,NoVehicle,Disability,Race,SingleHH,PctSeniorPop,PctSNAPHH,PctSingleHH,PctNoVehicleHH,PctDisabilityPop,Black_Pop
6,7,7,42,3,270100,1400000US42003270100,42003270100,2701.00,CT,1039795,...,58,400.0,0.202,240.0,12.84,10.15,21.00,5.07,15.10,535.0
7,8,8,42,3,281400,1400000US42003281400,42003281400,2814.00,CT,1328964,...,326,365.0,0.280,290.0,13.78,44.66,29.23,32.86,15.52,659.0
15,16,31,42,3,80600,1400000US42003080600,42003080600,806.00,CT,404921,...,154,126.0,0.013,54.0,8.61,2.70,4.86,13.85,6.31,26.0
20,21,36,42,3,140800,1400000US42003140800,42003140800,1408.00,CT,1089074,...,424,368.0,0.024,12.0,12.21,10.35,0.62,21.73,8.08,109.0
22,23,38,42,3,191800,1400000US42003191800,42003191800,1918.00,CT,1453327,...,302,995.0,0.071,314.0,15.86,14.61,13.07,12.57,18.70,378.0
26,27,56,42,3,482500,1400000US42003482500,42003482500,4825.00,CT,2387778,...,98,350.0,0.127,78.0,24.05,19.54,9.02,11.33,18.14,245.0
31,33,72,42,3,50600,1400000US42003050600,42003050600,506.00,CT,805419,...,265,651.0,0.776,282.0,24.89,16.63,27.76,26.08,31.65,1596.0
32,34,73,42,3,141100,1400000US42003141100,42003141100,1411.00,CT,1226334,...,46,151.0,0.080,11.0,17.93,7.64,1.83,7.64,11.09,109.0
39,41,92,42,3,60500,1400000US42003060500,42003060500,605.00,CT,662686,...,145,228.0,0.049,16.0,16.01,14.06,2.30,20.80,17.90,62.0
41,43,94,42,3,90200,1400000US42003090200,42003090200,902.00,CT,446355,...,364,359.0,0.025,12.0,25.16,9.72,0.88,26.59,13.62,66.0
43,45,96,42,3,141400,1400000US42003141400,42003141400,1414.00,CT,2049306,...,387,358.0,0.058,65.0,20.54,4.15,2.43,14.47,6.69,310.0
48,51,105,42,3,191600,1400000US42003191600,42003191600,1916.00,CT,2422505,...,225,778.0,0.176,63.0,12.48,11.08,3.40,12.16,18.11,756.0
49,52,106,42,3,202200,1400000US42003202200,42003202200,2022.00,CT,881779,...,182,693.0,0.222,276.0,13.75,35.76,25.44,16.77,26.99,570.0
51,54,108,42,3,260200,1400000US42003260200,42003260200,2602.00,CT,1433975,...,125,336.0,0.342,206.0,12.69,23.53,22.03,13.37,14.70,781.0
56,59,113,42,3,270800,1400000US42003270800,42003270800,2708.00,CT,1270794,...,146,224.0,0.158,23.0,19.65,11.94,1.87,11.86,8.45,419.0
57,60,114,42,3,281500,1400000US42003281500,42003281500,2815.00,CT,617106,...,74,240.0,0.241,91.0,14.30,12.64,14.38,11.69,16.42,352.0
58,61,115,42,3,290100,1400000US42003290100,42003290100,2901.00,CT,1266738,...,134,362.0,0.135,156.0,13.40,24.45,17.26,14.82,17.08,286.0
60,63,118,42,3,470502,1400000US42003470502,42003470502,4705.02,CT,1863590,...,71,583.0,0.006,32.0,28.91,4.40,2.52,5.58,19.62,18.0
61,64,123,42,3,477200,1400000US42003477200,42003477200,4772.00,CT,2900322,...,165,591.0,0.004,63.0,31.18,1.59,3.34,8.74,14.28,17.0
62,65,127,42,3,310200,1400000US42003310200,42003310200,3102.00,CT,2541954,...,128,603.0,0.028,117.0,17.35,16.98,8.04,8.80,18.69,90.0
63,66,128,42,3,320700,1400000US42003320700,42003320700,3207.00,CT,1317666,...,23,132.0,0.019,48.0,18.85,6.16,6.58,3.15,8.00,31.0
67,70,149,42,3,40500,1400000US42003040500,42003040500,405.00,CT,472314,...,436,225.0,0.037,0.0,3.33,0.69,0.00,33.54,6.09,137.0
69,72,154,42,3,562300,1400000US42003562300,42003562300,5623.00,CT,3116517,...,573,886.0,0.493,245.0,18.56,43.30,17.11,40.01,25.54,1710.0
70,73,155,42,3,562800,1400000US42003562800,42003562800,5628.00,CT,1775037,...,93,232.0,0.037,29.0,18.10,16.51,3.77,12.09,14.53,59.0
72,75,157,42,3,40900,1400000US42003040900,42003040900,409.00,CT,912392,...,348,321.0,0.191,59.0,10.71,14.08,4.47,26.34,10.81,567.0
75,78,160,42,3,90100,1400000US42003090100,42003090100,901.00,CT,672423,...,219,236.0,0.098,44.0,15.74,8.03,4.77,23.75,12.81,181.0
76,79,161,42,3,100500,1400000US42003100500,42003100500,1005.00,CT,724267,...,201,229.0,0.672,100.0,19.34,14.54,10.93,21.97,11.01,1397.0
77,80,162,42,3,101800,1400000US42003101800,42003101800,1018.00,CT,1197152,...,109,229.0,0.195,44.0,17.84,4.15,3.72,9.22,9.08,492.0
81,84,167,42,3,140100,1400000US42003140100,42003140100,1401.00,CT,1465179,...,107,374.0,0.065,0.0,9.13,0.00,0.00,10.40,6.83,356.0
84,87,191,42,3,479000,1400000US42003479000,42003479000,4790.00,CT,1311099,...,23,220.0,0.000,34.0,17.92,6.48,4.00,2.71,11.04,0.0
88,91,203,42,3,562500,1400000US42003562500,42003562500,5625.00,CT,2029314,...,339,432.0,0.582,352.0,10.39,33.19,29.88,28.78,14.25,1765.0
89,92,204,42,3,563000,1400000US42003563000,42003563000,5630.00,CT,3942599,...,76,467.0,0.322,92.0,16.68,13.55,7.04,5.82,16.40,917.0
93,96,211,42,3,980500,1400000US42003980500,42003980500,9805.00,CT,1612453,...,0,10.0,0.000,0.0,22.22,0.00,0.00,0.00,37.04,0.0
97,100,226,42,3,480300,1400000US42003480300,42003480300,4803.00,CT,2846639,...,27,481.0,0.042,101.0,17.80,11.20,6.98,1.87,14.08,143.0
98,101,228,42,3,484500,1400000US42003484500,42003484500,4845.00,CT,2508909,...,249,895.0,0.021,341.0,20.21,4.78,12.82,9.36,15.58,121.0
102,105,243,42,3,429100,1400000US42003429100,42003429100,4291.00,CT,5843386,...,90,373.0,0.058,43.0,16.85,3.72,3.81,7.96,14.86,146.0
105,108,261,42,3,464300,1400000US42003464300,42003464300,4643.00,CT,1124143,...,167,309.0,0.125,45.0,14.98,12.97,2.98,11.05,9.28,416.0
107,110,263,42,3,469000,1400000US42003469000,42003469000,4690.00,CT,5375268,...,85,538.0,0.013,112.0,21.30,4.55,5.72,4.34,12.14,58.0
109,112,273,42,3,476200,1400000US42003476200,42003476200,4762.00,CT,1717179,...,51,219.0,0.048,81.0,18.89,9.88,5.68,3.57,6.67,158.0
111,114,276,42,3,70900,1400000US42003070900,42003070900,709.00,CT,803571,...,957,277.0,0.070,96.0,12.16,1.25,3.53,35.20,5.61,345.0
112,115,277,42,3,80400,1400000US42003080400,42003080400,804.00,CT,430386,...,282,74.0,0.079,24.0,9.13,9.54,3.18,37.35,5.41,108.0
113,116,278,42,3,80900,1400000US42003080900,42003080900,809.00,CT,380225,...,209,199.0,0.063,0.0,12.05,6.65,0.00,21.70,11.26,111.0
121,124,286,42,3,130600,1400000US42003130600,42003130600,1306.00,CT,1403865,...,732,727.0,0.831,441.0,14.83,54.70,33.46,55.54,22.94,2633.0
125,128,290,42,3,151600,1400000US42003151600,42003151600,1516.00,CT,820480,...,121,276.0,0.005,33.0,16.25,6.09,2.95,10.83,11.68,12.0
126,129,291,42,3,151700,1400000US42003151700,42003151700,1517.00,CT,1189443,...,372,1192.0,0.091,39.0,14.91,12.92,1.65,15.76,24.17,449.0
130,133,295,42,3,191700,1400000US42003191700,42003191700,1917.00,CT,1865135,...,167,476.0,0.054,35.0,15.84,13.00,2.24,10.69,13.81,186.0
135,138,300,42,3,320400,1400000US42003320400,42003320400,3204.00,CT,849780,...,68,418.0,0.037,33.0,19.81,16.61,3.86,7.95,20.96,74.0
138,141,315,42,3,51000,1400000US42003051000,42003051000,510.00,CT,645419,...,374,382.0,0.503,85.0,8.88,37.62,11.63,51.16,18.14,1059.0
139,142,316,42,3,60300,1400000US42003060300,42003060300,603.00,CT,1117947,...,301,287.0,0.129,0.0,13.03,17.29,0.00,25.51,12.26,302.0
147,150,325,42,3,300100,1400000US42003300100,42003300100,3001.00,CT,775644,...,349,563.0,0.409,483.0,10.25,31.37,33.08,23.90,15.03,1533.0
151,154,340,42,3,488300,1400000US42003488300,42003488300,4883.00,CT,6212135,...,17,262.0,0.010,30.0,21.26,5.79,3.22,1.82,12.06,22.0
152,155,341,42,3,488500,1400000US42003488500,42003488500,4885.00,CT,9604274,...,96,481.0,0.034,77.0,18.15,15.97,6.06,7.55,16.92,97.0
154,157,350,42,3,562600,1400000US42003562600,42003562600,5626.00,CT,2092793,...,205,526.0,0.279,210.0,12.52,31.54,18.25,17.81,19.96,735.0
156,159,364,42,3,480400,1400000US42003480400,42003480400,4804.00,CT,5021148,...,291,853.0,0.043,217.0,21.33,9.22,9.81,13.15,17.13,214.0
165,168,386,42,3,523100,1400000US42003523100,42003523100,5231.00,CT,6801079,...,131,637.0,0.782,376.0,18.79,20.43,21.82,7.60,15.19,3280.0
168,171,389,42,3,562400,1400000US42003562400,42003562400,5624.00,CT,1891902,...,255,660.0,0.563,484.0,17.60,19.29,41.69,21.96,24.15,1539.0
170,173,395,42,3,40200,1400000US42003040200,42003040200,402.00,CT,604717,...,254,186.0,0.327,45.0,8.10,37.71,7.58,42.76,7.14,852.0
175,178,400,42,3,320600,1400000US42003320600,42003320600,3206.00,CT,1479651,...,71,349.0,0.048,104.0,14.86,9.10,10.52,7.18,15.44,109.0

In [43]:
#Calculations 
#ACCESS 
sum_pop_access = sum(new_access["USDA_Data_Pop2010"]) 
sum_hh_access = sum(new_access["USDA_Data_OHU2010"]) 

#Population
avg_seniors_access = sum(new_access["Senior"])/sum_pop_access 
avg_black_access = sum(new_access["Black_Pop"])/sum_pop_access 
avg_disability_access = sum(new_access["Disability"])/sum_pop_access 

#Households
avg_SNAP_access = sum(new_access["SNAP"]) / sum_hh_access 
avg_single_access = sum(new_access["SingleHH"]) / sum_hh_access
avg_novehicle_access = sum(new_access["NoVehicle"]) / sum_hh_access
avg_poverty_access = sum(new_access["USDA_Data_OHU2010"]*new_access["USDA_Data_PovertyRate"]/sum_hh_access)

In [44]:
print("CENSUS TRACTS WITH ACCESS")
print("Average % Senior Population:", avg_seniors_access)
print("Average % Black Population:", avg_black_access)
print("Average % Disabled Population:", avg_disability_access)

print("Average % Households that are SNAP Recipients:", avg_SNAP_access)
print("Average % Single Head Households:", avg_single_access)
print("Average % Household with No Vehicle:", avg_novehicle_access)
print("Average Poverty Rate:", avg_poverty_access, "\n")

CENSUS TRACTS WITH ACCESS
Average % Senior Population: 0.1418839250622298
Average % Black Population: 0.31750294772697496
Average % Disabled Population: 0.16219048866762742
Average % Households that are SNAP Recipients: 0.25577507598784194
Average % Single Head Households: 0.1886018237082067
Average % Household with No Vehicle: 0.18419452887537993
Average Poverty Rate: 0.2237737082066869

In [45]:
#NO ACCESS
sum_pop_noaccess = sum(no_access["USDA_Data_Pop2010"]) 
sum_hh_noaccess = sum(no_access["USDA_Data_OHU2010"]) 

#Population
avg_seniors_noaccess = sum(no_access["Senior"])/sum_pop_noaccess
avg_black_noaccess = sum(no_access["Black_Pop"])/sum_pop_noaccess 
avg_disability_noaccess = sum(no_access["Disability"])/sum_pop_noaccess

#Households
avg_SNAP_noaccess = sum(no_access["SNAP"]) / sum_hh_noaccess
avg_single_noaccess = sum(no_access["SingleHH"]) / sum_hh_noaccess
avg_novehicle_noaccess = sum(no_access["NoVehicle"]) / sum_hh_noaccess
avg_poverty_noaccess = sum(no_access["USDA_Data_OHU2010"]*no_access["USDA_Data_PovertyRate"]/sum_hh_noaccess)

In [46]:
print("CENSUS TRACTS WITH NO ACCESS")
print("Average % Senior Population:", avg_seniors_noaccess)
print("Average % Black Population:", avg_black_noaccess)
print("Average % Disabled Population:", avg_disability_noaccess)

print("Average % Households that are SNAP Recipients:", avg_SNAP_noaccess)
print("Average % Single Head Households:", avg_single_noaccess)
print("Average % Household with No Vehicle:", avg_novehicle_noaccess)
print("Average Poverty Rate:", avg_poverty_noaccess, "\n")

CENSUS TRACTS WITH NO ACCESS
Average % Senior Population: 0.16257623523172565
Average % Black Population: 0.1749977902831384
Average % Disabled Population: 0.14374355499248695
Average % Households that are SNAP Recipients: 0.13939981943377666
Average % Single Head Households: 0.09409656250421096
Average % Household with No Vehicle: 0.16556844672622656
Average Poverty Rate: 0.17609987737666924

## Model 2

In [47]:
chosen_store ='96061-C'                     #Provided by Mihir

chosen_store_index = np.where(comm_buildings_array == chosen_store)[0][0]
chosen_store_index

6764

In [55]:
#New residential buildings that will have access based on commercial building
new_building_with_access = res_comm_access_matrix_half_mile[:,6764]
new_building_with_access = new_building_with_access.nonzero()[0]
new_building_with_access = [i for i in new_building_with_access if i not in existing_access_indices]

In [56]:
# Get IDs of all residential buildings with access
res_buildings_array[new_building_with_access]

array(['100271-R', '105409-R', '105411-R', ..., '96311-R', '96313-C',
       '96320-R'], dtype=object)

In [57]:
new_access_buildings = buildings_df[buildings_df.building_id.isin(res_buildings_array[new_building_with_access])]
new_access_buildings

,CLASS,class_reco,hood,geoid10,tractce10,geometry,building_id,index_right,geo_id,B01003_001E,B25010_001E
15913,R,1-Unit Residential,Hazelwood,420035629001,562900,"POLYGON ((-79.94658 40.40584, -79.94640 40.405...",15914-R,362,1400000US42003562901,1567.0,2.43
15914,R,1-Unit Residential,Hazelwood,420035629001,562900,"POLYGON ((-79.94595 40.40683, -79.94591 40.406...",15915-R,362,1400000US42003562901,1567.0,2.43
15915,R,1-Unit Residential,Hazelwood,420035629001,562900,"POLYGON ((-79.94037 40.41754, -79.94022 40.417...",15916-R,362,1400000US42003562901,1567.0,2.43
15916,R,1-Unit Residential,Hazelwood,420035629001,562900,"POLYGON ((-79.94529 40.40746, -79.94527 40.407...",15917-R,362,1400000US42003562901,1567.0,2.43
15917,R,1-Unit Residential,Hazelwood,420035629001,562900,"POLYGON ((-79.94226 40.41576, -79.94212 40.415...",15918-R,362,1400000US42003562901,1567.0,2.43
...,...,...,...,...,...,...,...,...,...,...,...
115631,R,1-Unit Residential,Shadyside,420030709002,070900,"POLYGON ((-79.94244 40.44875, -79.94229 40.448...",115632-R,21,1400000US42003070900,4250.0,1.60
115852,R,1-Unit Residential,Shadyside,420030709002,070900,"POLYGON ((-79.94245 40.44887, -79.94235 40.448...",115853-R,21,1400000US42003070900,4250.0,1.60
115949,R,1-Unit Residential,Shadyside,420030709002,070900,"POLYGON ((-79.94226 40.44863, -79.94225 40.448...",115950-R,21,1400000US42003070900,4250.0,1.60
115997,R,1-Unit Residential,Shadyside,420030709002,070900,"POLYGON ((-79.94229 40.44953, -79.94227 40.449...",115998-R,21,1400000US42003070900,4250.0,1.60
116114,R,1-Unit Residential,Shadyside,420030709002,070900,"POLYGON ((-79.94193 40.44884, -79.94193 40.448...",116115-R,21,1400000US42003070900,4250.0,1.60

In [58]:
#Census Tracts with New Access to Gracery Stores
census_tracts_with_new_access = set(new_access_buildings['geo_id'])
census_tracts_with_new_access

{'1400000US42003070900',
 '1400000US42003140100',
 '1400000US42003151600',
 '1400000US42003151700',
 '1400000US42003562300',
 '1400000US42003562901',
 '1400000US42003565300',
 '1400000US42003980500'}

In [59]:
len(census_tracts_with_new_access)

8

In [60]:
original_buildings_without_access = np.where(res_access_array_half_mile==0)[0] #Buildings that dont have access
remaining_buildings_without_access = [i for i in original_buildings_without_access if i not in new_building_with_access]
no_access_buildings = buildings_df[buildings_df.building_id.isin(res_buildings_array[remaining_buildings_without_access])]

census_tracts_without_access = set(no_access_buildings['geo_id'])
census_tracts_without_access

{'1400000US42003040200',
 '1400000US42003040500',
 '1400000US42003040900',
 '1400000US42003050600',
 '1400000US42003051000',
 '1400000US42003060300',
 '1400000US42003060500',
 '1400000US42003070900',
 '1400000US42003080400',
 '1400000US42003080600',
 '1400000US42003080900',
 '1400000US42003090100',
 '1400000US42003090200',
 '1400000US42003100500',
 '1400000US42003101800',
 '1400000US42003101900',
 '1400000US42003130600',
 '1400000US42003130700',
 '1400000US42003130800',
 '1400000US42003140800',
 '1400000US42003141100',
 '1400000US42003141400',
 '1400000US42003161000',
 '1400000US42003191600',
 '1400000US42003191700',
 '1400000US42003191800',
 '1400000US42003202200',
 '1400000US42003260200',
 '1400000US42003261300',
 '1400000US42003270100',
 '1400000US42003270300',
 '1400000US42003270800',
 '1400000US42003271600',
 '1400000US42003281400',
 '1400000US42003281500',
 '1400000US42003290100',
 '1400000US42003300100',
 '1400000US42003310200',
 '1400000US42003320400',
 '1400000US42003320600',
 '1400000US42003320700',
 '1400000US42003429100',
 '1400000US42003464300',
 '1400000US42003469000',
 '1400000US42003470502',
 '1400000US42003476200',
 '1400000US42003477200',
 '1400000US42003479000',
 '1400000US42003480300',
 '1400000US42003480400',
 '1400000US42003482500',
 '1400000US42003484500',
 '1400000US42003488300',
 '1400000US42003488500',
 '1400000US42003523100',
 '1400000US42003562300',
 '1400000US42003562400',
 '1400000US42003562500',
 '1400000US42003562600',
 '1400000US42003562800',
 '1400000US42003562901',
 '1400000US42003563000',
 '1400000US42003565300'}

In [61]:
len(census_tracts_without_access)

63

## Calculations Model 2

In [62]:
tracts_new_access = census_tracts_with_new_access
tracts_no_access = census_tracts_without_access

In [63]:
#Equity Calculations 
new_access = merged[merged.Allegheny_Tracts_AFFGEOID.isin(tracts_new_access)]
no_access = merged[merged.Allegheny_Tracts_AFFGEOID.isin(tracts_no_access)]
new_access

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,NoVehicle,Disability,Race,SingleHH,PctSeniorPop,PctSNAPHH,PctSingleHH,PctNoVehicleHH,PctDisabilityPop,Black_Pop
69,72,154,42,3,562300,1400000US42003562300,42003562300,5623.0,CT,3116517,...,573,886.0,0.493,245.0,18.56,43.30,17.11,40.01,25.54,1710.0
81,84,167,42,3,140100,1400000US42003140100,42003140100,1401.0,CT,1465179,...,107,374.0,0.065,0.0,9.13,0.00,0.00,10.40,6.83,356.0
93,96,211,42,3,980500,1400000US42003980500,42003980500,9805.0,CT,1612453,...,0,10.0,0.000,0.0,22.22,0.00,0.00,0.00,37.04,0.0
111,114,276,42,3,70900,1400000US42003070900,42003070900,709.0,CT,803571,...,957,277.0,0.070,96.0,12.16,1.25,3.53,35.20,5.61,345.0
125,128,290,42,3,151600,1400000US42003151600,42003151600,1516.0,CT,820480,...,121,276.0,0.005,33.0,16.25,6.09,2.95,10.83,11.68,12.0
126,129,291,42,3,151700,1400000US42003151700,42003151700,1517.0,CT,1189443,...,372,1192.0,0.091,39.0,14.91,12.92,1.65,15.76,24.17,449.0

In [64]:
#Calculations 
#ACCESS 
sum_pop_access = sum(new_access["USDA_Data_Pop2010"]) 
sum_hh_access = sum(new_access["USDA_Data_OHU2010"]) 

#Population
avg_seniors_access = sum(new_access["Senior"])/sum_pop_access 
avg_black_access = sum(new_access["Black_Pop"])/sum_pop_access 
avg_disability_access = sum(new_access["Disability"])/sum_pop_access 

#Households
avg_SNAP_access = sum(new_access["SNAP"]) / sum_hh_access 
avg_single_access = sum(new_access["SingleHH"]) / sum_hh_access
avg_novehicle_access = sum(new_access["NoVehicle"]) / sum_hh_access
avg_poverty_access = sum(new_access["USDA_Data_OHU2010"]*new_access["USDA_Data_PovertyRate"]/sum_hh_access)

In [65]:
print("CENSUS TRACTS WITH ACCESS")
print("Average % Senior Population:", avg_seniors_access)
print("Average % Black Population:", avg_black_access)
print("Average % Disabled Population:", avg_disability_access)

print("Average % Households that are SNAP Recipients:", avg_SNAP_access)
print("Average % Single Head Households:", avg_single_access)
print("Average % Household with No Vehicle:", avg_novehicle_access)
print("Average Poverty Rate:", avg_poverty_access, "\n")

CENSUS TRACTS WITH ACCESS
Average % Senior Population: 0.1353301886792453
Average % Black Population: 0.13547169811320756
Average % Disabled Population: 0.14221698113207548
Average % Households that are SNAP Recipients: 0.11842712177121771
Average % Single Head Households: 0.047624538745387454
Average % Household with No Vehicle: 0.2456180811808118
Average Poverty Rate: 0.2252512684501845

In [66]:
#NO ACCESS
sum_pop_noaccess = sum(no_access["USDA_Data_Pop2010"]) 
sum_hh_noaccess = sum(no_access["USDA_Data_OHU2010"]) 

#Population
avg_seniors_noaccess = sum(no_access["Senior"])/sum_pop_noaccess
avg_black_noaccess = sum(no_access["Black_Pop"])/sum_pop_noaccess 
avg_disability_noaccess = sum(no_access["Disability"])/sum_pop_noaccess

#Households
avg_SNAP_noaccess = sum(no_access["SNAP"]) / sum_hh_noaccess
avg_single_noaccess = sum(no_access["SingleHH"]) / sum_hh_noaccess
avg_novehicle_noaccess = sum(no_access["NoVehicle"]) / sum_hh_noaccess
avg_poverty_noaccess = sum(no_access["USDA_Data_OHU2010"]*no_access["USDA_Data_PovertyRate"]/sum_hh_noaccess)

In [67]:
print("CENSUS TRACTS WITH NO ACCESS")
print("Average % Senior Population:", avg_seniors_noaccess)
print("Average % Black Population:", avg_black_noaccess)
print("Average % Disabled Population:", avg_disability_noaccess)

print("Average % Households that are SNAP Recipients:", avg_SNAP_noaccess)
print("Average % Single Head Households:", avg_single_noaccess)
print("Average % Household with No Vehicle:", avg_novehicle_noaccess)
print("Average Poverty Rate:", avg_poverty_noaccess, "\n")

CENSUS TRACTS WITH NO ACCESS
Average % Senior Population: 0.1655660822762897
Average % Black Population: 0.18642787447672407
Average % Disabled Population: 0.1452330741871518
Average % Households that are SNAP Recipients: 0.14445625221395678
Average % Single Head Households: 0.09970952886999646
Average % Household with No Vehicle: 0.1675522493800921
Average Poverty Rate: 0.18067285866099883

## Baseline Model

In [97]:
chosen_store ='106749-C'          #Provided by Mihir

chosen_store_index = np.where(comm_buildings_array == chosen_store)[0][0]
chosen_store_index

491

In [98]:
#New residential buildings that will have access based on commercial building
new_building_with_access = res_comm_access_matrix_half_mile[:, 491]
new_building_with_access = new_building_with_access.nonzero()[0]
new_building_with_access = [i for i in new_building_with_access if i not in existing_access_indices]

In [99]:
# Get IDs of all residential buildings with access
res_buildings_array[new_building_with_access]

array(['104527-R', '104532-R', '104534-R', '104535-C', '104537-R',
       '104539-R', '104542-R', '104568-R', '104570-R', '104571-R',
       '104576-R', '104577-R', '104578-R', '104583-R', '104585-R',
       '104599-R', '104607-R', '104608-R', '104609-R', '104611-R',
       '104613-R', '104633-R', '104635-R', '104637-R', '104638-R',
       '104640-R', '104644-R', '104655-R', '104660-R', '104662-R',
       '104663-R', '104666-R', '104667-R', '104669-R', '104674-R',
       '104684-R', '104685-R', '104687-R', '104690-R', '104691-R',
       '104697-R', '104700-R', '104714-C', '104715-R', '104721-R',
       '104722-R', '104725-R', '104726-C', '104728-R', '104729-R',
       '104732-R', '104733-R', '104734-R', '104735-R', '104736-R',
       '104737-R', '104740-R', '104745-R', '104746-R', '104753-R',
       '104755-R', '104756-R', '104757-R', '104760-R', '104764-R',
       '104768-R', '104769-R', '104770-R', '104775-R', '104776-R',
       '104779-R', '104783-R', '104784-R', '104790-R', '104791-R',
       '104792-C', '104798-R', '104799-R', '104810-R', '104811-R',
       '104822-R', '104829-R', '104837-R', '104838-R', '104839-R',
       '104842-R', '104844-R', '104848-R', '104851-R', '104852-R',
       '104854-R', '104858-R', '104865-R', '104866-R', '104880-R',
       '104882-R', '104891-R', '104893-R', '104899-R', '104902-R',
       '104912-R', '104914-R', '104923-R', '104924-R', '104931-R',
       '104932-R', '104933-R', '104934-R', '104936-R', '104939-R',
       '104942-R', '104950-R', '104952-R', '104953-R', '104954-R',
       '104956-R', '104958-R', '104959-R', '104960-R', '104967-R',
       '104972-R', '104973-G', '104974-R', '104982-R', '104987-R',
       '104988-R', '104989-R', '104990-R', '104992-R', '104999-R',
       '105001-R', '105002-R', '105014-R', '105015-R', '105029-R',
       '105030-R', '105031-R', '105032-R', '105033-R', '105036-R',
       '105037-R', '105038-R', '105042-C', '105044-R', '105046-R',
       '105047-R', '105048-R', '105049-R', '105052-R', '105056-R',
       '105059-R', '105060-R', '105063-R', '105064-R', '105065-R',
       '105066-R', '105069-R', '105077-R', '105083-C', '105089-R',
       '105092-R', '105096-R', '105102-R', '105103-R', '105105-R',
       '105106-R', '105111-R', '105114-R', '105119-R', '105122-R',
       '105123-R', '105124-R', '105127-R', '105129-R', '105130-R',
       '105131-R', '105134-R', '105135-R', '105138-R', '105150-R',
       '105153-R', '105154-R', '105163-R', '105170-R', '105172-R',
       '105176-R', '105180-R', '105183-R', '105184-R', '105186-R',
       '105187-R', '105192-R', '105209-R', '105210-R', '105221-R',
       '105228-R', '105231-G', '105239-R', '105241-R', '105246-R',
       '105247-R', '105252-R', '105253-R', '105256-R', '105260-R',
       '105262-R', '105263-R', '105270-R', '105273-G', '105276-R',
       '105277-R', '105287-R', '105291-R', '105296-R', '105297-R',
       '105298-R', '105299-R', '105300-R', '105301-R', '105304-R',
       '105315-R', '105317-R', '105330-R', '105334-R', '105337-R',
       '105340-R', '105341-R', '105342-R', '105349-C', '105353-R',
       '105356-R', '105357-R', '105372-R', '105378-R', '105379-R',
       '105382-R', '105383-R', '105384-R', '105389-R', '105390-R',
       '105391-R', '105392-R', '105393-R', '105397-R', '105398-R',
       '105406-R', '110314-R', '110319-C', '110320-C', '110330-R',
       '110331-R', '110339-R', '110341-R', '110343-R', '110353-R',
       '110359-C', '110361-R', '110364-R', '110365-R', '110371-R',
       '110372-R', '110379-R', '110382-R', '110392-R', '110401-R',
       '110416-R', '110420-R', '110421-R', '110445-R', '110456-R',
       '110469-R', '110470-O', '110476-R', '110479-R', '110487-R',
       '110573-R', '110574-R', '110612-R', '110616-R', '110623-R',
       '110634-R', '110651-C', '110652-R', '110664-R', '110671-C',
       '110682-R', '110694-R', '110705-R', '110706-R', '110721-R',
       '110725-R', '110726-R', '110728-R', '110739-R', '110749-R',
       '110751-R', '110763-R', '110764-R', '110780-R', '110784-R',
       '110790-R', '110791-R', '110795-R', '110804-R', '110807-R',
       '110811-R', '110830-R', '110831-R', '17335-R', '18295-R',
       '18298-R', '18299-R', '18303-R', '18311-R', '18313-R', '18314-R',
       '18318-R', '18324-R', '18325-R', '18326-R', '18336-G', '18337-R',
       '18341-R', '18349-R', '18355-R', '18356-R', '18361-R', '18371-R',
       '18372-R', '36860-R', '36867-R', '36896-R', '36897-R', '36942-R',
       '36943-R', '36964-R', '36992-R', '36994-R', '36999-R', '37007-R',
       '37008-R', '37048-R', '37121-R', '37124-R', '37137-R', '37158-R',
       '37159-R', '37160-R', '37163-R', '37207-R', '37229-R', '37233-R',
       '37247-R', '37268-R', '37346-R', '37351-R', '37354-R', '37365-R',
       '37379-R', '37403-R', '37427-R', '37437-R', '37458-R', '37484-R',
       '37516-R', '37520-R', '37534-R', '37543-R', '37544-R', '37570-R',
       '79646-R', '79657-R', '79660-R', '79665-R', '79671-R', '79673-R',
       '79687-R', '79717-R', '79728-R', '79739-R', '79747-R', '79748-R',
       '79763-R', '79767-R', '79772-R', '79776-R', '79784-R', '79786-R',
       '79788-R', '79791-R', '79811-R', '79832-R', '79833-R', '79843-R',
       '79845-R', '79846-R', '79848-R', '79867-R', '79887-R', '79894-R',
       '79900-R', '79913-R', '79914-R', '79917-R', '79919-R', '79925-R',
       '79930-R', '79931-R', '79955-R', '79956-R', '79960-R', '79975-R',
       '79978-R', '79981-R', '79987-R', '79992-R', '79998-R', '86972-R',
       '86973-R', '86974-R', '86976-R', '86977-R', '86978-R', '86979-R',
       '86980-R', '86981-R', '86984-R', '86986-R', '86987-R', '86988-R',
       '86989-R', '86990-R', '86991-R', '86992-R', '86993-R', '86994-R',
       '86998-R', '86999-R', '87002-R', '87004-R', '87005-R', '87006-R',
       '87009-R', '87010-R', '87011-R', '87012-R', '87013-R', '87014-R',
       '87015-R', '87360-O', '87820-R', '87835-G', '87836-R', '87856-R',
       '87857-R', '87863-R', '87868-R', '87873-R', '87884-R', '87909-R',
       '87918-None', '87938-R', '87939-R', '87942-R', '87964-R',
       '87967-R', '87988-None', '87998-R', '88003-R', '88007-R',
       '88026-R', '88030-None', '88031-R', '88066-R', '88099-None',
       '88100-R', '88108-None', '88121-R', '88122-R', '88126-R',
       '88127-R', '88134-R', '88141-R', '88157-R', '88158-R', '88171-R',
       '88172-R', '88184-R', '88186-R', '88191-R', '88204-R', '88220-R',
       '88224-R', '88235-R', '88241-R', '88256-R', '88265-R', '88266-R',
       '88287-R', '88288-R', '88298-R', '88337-R', '88345-R', '88372-R',
       '88374-R', '88376-R', '88382-R', '88398-R', '88399-R', '88447-R',
       '88448-R', '88462-R', '88487-R', '88503-R', '88504-R', '88518-R',
       '88539-R', '88587-R', '88611-R', '88634-R', '88639-R', '88696-R',
       '88697-R', '88723-R'], dtype=object)

In [101]:
new_access_buildings = buildings_df[buildings_df.building_id.isin(res_buildings_array[new_building_with_access])]
new_access_buildings

,CLASS,class_reco,hood,geoid10,tractce10,geometry,building_id,index_right,geo_id,B01003_001E,B25010_001E
17334,R,1-Unit Residential,Arlington,420035616002,561600,"POLYGON ((-79.95944 40.40977, -79.95948 40.409...",17335-R,252,1400000US42003480300,3491.0,2.48
18294,R,1-Unit Residential,Arlington,420035616002,561600,"POLYGON ((-79.95790 40.41066, -79.95781 40.410...",18295-R,60,1400000US42003161000,2929.0,2.26
18297,R,1-Unit Residential,Arlington,420035616002,561600,"POLYGON ((-79.95810 40.41029, -79.95799 40.410...",18298-R,60,1400000US42003161000,2929.0,2.26
18298,R,1-Unit Residential,Arlington,420035616002,561600,"POLYGON ((-79.95706 40.41124, -79.95709 40.411...",18299-R,60,1400000US42003161000,2929.0,2.26
18302,R,1-Unit Residential,Arlington,420035616002,561600,"POLYGON ((-79.95807 40.41017, -79.95812 40.410...",18303-R,60,1400000US42003161000,2929.0,2.26
...,...,...,...,...,...,...,...,...,...,...,...
110803,R,1-Unit Residential,Central Oakland,420030405001,040500,"POLYGON ((-79.96022 40.43812, -79.96028 40.438...",110804-R,7,1400000US42003040500,3065.0,2.18
110806,R,1-Unit Residential,Central Oakland,420030405001,040500,"POLYGON ((-79.95851 40.43663, -79.95866 40.436...",110807-R,7,1400000US42003040500,3065.0,2.18
110810,R,1-Unit Residential,Central Oakland,420030405001,040500,"POLYGON ((-79.95939 40.43761, -79.95949 40.437...",110811-R,7,1400000US42003040500,3065.0,2.18
110829,R,1-Unit Residential,Central Oakland,420030405001,040500,"POLYGON ((-79.96039 40.43821, -79.96045 40.438...",110830-R,7,1400000US42003040500,3065.0,2.18
110830,R,1-Unit Residential,Central Oakland,420030405001,040500,"POLYGON ((-79.95950 40.43733, -79.95940 40.437...",110831-R,7,1400000US42003040500,3065.0,2.18

In [102]:
#Census Tracts with New Access to Gracery Stores
census_tracts_with_new_access = set(new_access_buildings['geo_id'])
census_tracts_with_new_access

{'1400000US42003040200',
 '1400000US42003040500',
 '1400000US42003040900',
 '1400000US42003050600',
 '1400000US42003051000',
 '1400000US42003060300',
 '1400000US42003060500',
 '1400000US42003161000',
 '1400000US42003480300'}

In [103]:
len(census_tracts_with_new_access)

9

In [104]:
original_buildings_without_access = np.where(res_access_array_half_mile==0)[0] #Buildings that dont have access
remaining_buildings_without_access = [i for i in original_buildings_without_access if i not in new_building_with_access]
no_access_buildings = buildings_df[buildings_df.building_id.isin(res_buildings_array[remaining_buildings_without_access])]

census_tracts_without_access = set(no_access_buildings['geo_id'])
census_tracts_without_access

{'1400000US42003050600',
 '1400000US42003051000',
 '1400000US42003060300',
 '1400000US42003060500',
 '1400000US42003070900',
 '1400000US42003080400',
 '1400000US42003080600',
 '1400000US42003080900',
 '1400000US42003090100',
 '1400000US42003090200',
 '1400000US42003100500',
 '1400000US42003101800',
 '1400000US42003101900',
 '1400000US42003130600',
 '1400000US42003130700',
 '1400000US42003130800',
 '1400000US42003140100',
 '1400000US42003140800',
 '1400000US42003141100',
 '1400000US42003141400',
 '1400000US42003151600',
 '1400000US42003151700',
 '1400000US42003191600',
 '1400000US42003191700',
 '1400000US42003191800',
 '1400000US42003202200',
 '1400000US42003260200',
 '1400000US42003261300',
 '1400000US42003270100',
 '1400000US42003270300',
 '1400000US42003270800',
 '1400000US42003271600',
 '1400000US42003281400',
 '1400000US42003281500',
 '1400000US42003290100',
 '1400000US42003300100',
 '1400000US42003310200',
 '1400000US42003320400',
 '1400000US42003320600',
 '1400000US42003320700',
 '1400000US42003429100',
 '1400000US42003464300',
 '1400000US42003469000',
 '1400000US42003470502',
 '1400000US42003476200',
 '1400000US42003477200',
 '1400000US42003479000',
 '1400000US42003480400',
 '1400000US42003482500',
 '1400000US42003484500',
 '1400000US42003488300',
 '1400000US42003488500',
 '1400000US42003523100',
 '1400000US42003562300',
 '1400000US42003562400',
 '1400000US42003562500',
 '1400000US42003562600',
 '1400000US42003562800',
 '1400000US42003562901',
 '1400000US42003563000',
 '1400000US42003565300',
 '1400000US42003980500'}

In [105]:
len(census_tracts_without_access)

62

## Calculations Baseline

In [106]:
tracts_new_access = census_tracts_with_new_access
tracts_no_access = census_tracts_without_access

In [107]:
#Equity Calculations 
new_access = merged[merged.Allegheny_Tracts_AFFGEOID.isin(tracts_new_access)]
no_access = merged[merged.Allegheny_Tracts_AFFGEOID.isin(tracts_no_access)]
new_access

,OBJECTID,Allegheny_Tracts_FID_1,Allegheny_Tracts_STATEFP,Allegheny_Tracts_COUNTYFP,Allegheny_Tracts_TRACTCE,Allegheny_Tracts_AFFGEOID,GEOID,Allegheny_Tracts_NAME,Allegheny_Tracts_LSAD,Allegheny_Tracts_ALAND,...,NoVehicle,Disability,Race,SingleHH,PctSeniorPop,PctSNAPHH,PctSingleHH,PctNoVehicleHH,PctDisabilityPop,Black_Pop
31,33,72,42,3,50600,1400000US42003050600,42003050600,506.0,CT,805419,...,265,651.0,0.776,282.0,24.89,16.63,27.76,26.08,31.65,1596.0
39,41,92,42,3,60500,1400000US42003060500,42003060500,605.0,CT,662686,...,145,228.0,0.049,16.0,16.01,14.06,2.30,20.80,17.90,62.0
67,70,149,42,3,40500,1400000US42003040500,42003040500,405.0,CT,472314,...,436,225.0,0.037,0.0,3.33,0.69,0.00,33.54,6.09,137.0
72,75,157,42,3,40900,1400000US42003040900,42003040900,409.0,CT,912392,...,348,321.0,0.191,59.0,10.71,14.08,4.47,26.34,10.81,567.0
97,100,226,42,3,480300,1400000US42003480300,42003480300,4803.0,CT,2846639,...,27,481.0,0.042,101.0,17.80,11.20,6.98,1.87,14.08,143.0
138,141,315,42,3,51000,1400000US42003051000,42003051000,510.0,CT,645419,...,374,382.0,0.503,85.0,8.88,37.62,11.63,51.16,18.14,1059.0
139,142,316,42,3,60300,1400000US42003060300,42003060300,603.0,CT,1117947,...,301,287.0,0.129,0.0,13.03,17.29,0.00,25.51,12.26,302.0
170,173,395,42,3,40200,1400000US42003040200,42003040200,402.0,CT,604717,...,254,186.0,0.327,45.0,8.10,37.71,7.58,42.76,7.14,852.0

In [108]:
#Calculations 
#ACCESS 
sum_pop_access = sum(new_access["USDA_Data_Pop2010"]) 
sum_hh_access = sum(new_access["USDA_Data_OHU2010"]) 

#Population
avg_seniors_access = sum(new_access["Senior"])/sum_pop_access 
avg_black_access = sum(new_access["Black_Pop"])/sum_pop_access 
avg_disability_access = sum(new_access["Disability"])/sum_pop_access 

#Households
avg_SNAP_access = sum(new_access["SNAP"]) / sum_hh_access 
avg_single_access = sum(new_access["SingleHH"]) / sum_hh_access
avg_novehicle_access = sum(new_access["NoVehicle"]) / sum_hh_access
avg_poverty_access = sum(new_access["USDA_Data_OHU2010"]*new_access["USDA_Data_PovertyRate"]/sum_hh_access)

In [109]:
print("CENSUS TRACTS WITH ACCESS")
print("Average % Senior Population:", avg_seniors_access)
print("Average % Black Population:", avg_black_access)
print("Average % Disabled Population:", avg_disability_access)

print("Average % Households that are SNAP Recipients:", avg_SNAP_access)
print("Average % Single Head Households:", avg_single_access)
print("Average % Household with No Vehicle:", avg_novehicle_access)
print("Average Poverty Rate:", avg_poverty_access, "\n")

CENSUS TRACTS WITH ACCESS
Average % Senior Population: 0.12062561094819159
Average % Black Population: 0.2305962854349951
Average % Disabled Population: 0.1349462365591398
Average % Households that are SNAP Recipients: 0.16016898008449004
Average % Single Head Households: 0.07097163548581774
Average % Household with No Vehicle: 0.2595051297525649
Average Poverty Rate: 0.3614235365117683

In [110]:
#NO ACCESS
sum_pop_noaccess = sum(no_access["USDA_Data_Pop2010"]) 
sum_hh_noaccess = sum(no_access["USDA_Data_OHU2010"]) 

#Population
avg_seniors_noaccess = sum(no_access["Senior"])/sum_pop_noaccess
avg_black_noaccess = sum(no_access["Black_Pop"])/sum_pop_noaccess 
avg_disability_noaccess = sum(no_access["Disability"])/sum_pop_noaccess

#Households
avg_SNAP_noaccess = sum(no_access["SNAP"]) / sum_hh_noaccess
avg_single_noaccess = sum(no_access["SingleHH"]) / sum_hh_noaccess
avg_novehicle_noaccess = sum(no_access["NoVehicle"]) / sum_hh_noaccess
avg_poverty_noaccess = sum(no_access["USDA_Data_OHU2010"]*no_access["USDA_Data_PovertyRate"]/sum_hh_noaccess)

In [111]:
print("CENSUS TRACTS WITH NO ACCESS")
print("Average % Senior Population:", avg_seniors_noaccess)
print("Average % Black Population:", avg_black_noaccess)
print("Average % Disabled Population:", avg_disability_noaccess)

print("Average % Households that are SNAP Recipients:", avg_SNAP_noaccess)
print("Average % Single Head Households:", avg_single_noaccess)
print("Average % Household with No Vehicle:", avg_novehicle_noaccess)
print("Average Poverty Rate:", avg_poverty_noaccess, "\n")

CENSUS TRACTS WITH NO ACCESS
Average % Senior Population: 0.16774234132226207
Average % Black Population: 0.18074479461533624
Average % Disabled Population: 0.14914763791910424
Average % Households that are SNAP Recipients: 0.1417903031163484
Average % Single Head Households: 0.09801945055725136
Average % Household with No Vehicle: 0.1612834528288493
Average Poverty Rate: 0.1565234471498544